* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 700px;
}
header {
  background-color: lightseagreen;
  text-align: center;
  padding: 40px;
  font-size: 42px;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}

.winnerDiv {
  justify-content: center;
  display: none;
  width: 100%;
  height: 100%;
}

.winner {
  position: absolute;
  top: 0;
  margin-top: 70px;
  font-size: 32px;
  font-weight: bold;
  color: rgb(25, 33, 56);
}

.restart {
  margin-top: 120px;
  font-size: 20px;
  padding: 9px 15px;
  border-radius: 5px;
}

div.winner {
  margin-top: 50px;
}

#player1 {
  margin-bottom: 30px;
}

input[type="text"] {
  padding: 6px 10px;
}

input[type="submit"] {
  padding: 9px 15px;
  margin-top: 28px;
  border-radius: 5px;
}

.initial {
  font-size: 24px;
  text-align: center;
  display: block;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.fieldsContainer {
  border: 1px solid black;
}
.row {
  display: flex;
  font-family: "Kanit", sans-serif;
}
.fields {
  width: 100px;
  height: 100px;
  background-color: lightgrey;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 114px;
}

.fields:hover {
  background-color: rgb(173, 173, 173);
}

.footer {
  text-align: center;
  padding: 40px;
  background-color: rgb(25, 33, 56);
  margin-top: auto;
  color: white;
}

span {
  color: burlywood;
}

.winner.whosMove {
  margin-top: 180px;
  font-family: "Kanit", sans-serif;
}

@media (max-height: 1000px) {
  .fieldsContainer {
    transform: scale(0.85);
  }
  div.winner {
    margin-top: 20px;
  }
  .restart {
    margin-top: 70px;
  }
  .winner.whosMove {
    margin-top: 120px;
  }
  .winner {
    margin-bottom: 15px;
  }
}

@media (max-height: 850px) {
  div.winner {
    margin-top: 20px;
  }
  .fieldsContainer {
    transform: scale(0.75);
  }
}

@media (max-height: 800px) {
  div.winner {
    margin-top: 15px;
  }
  .fieldsContainer {
    transform: scale(0.7);
  }
}

@media (max-height: 750px) {
  .fieldsContainer {
    transform: scale(0.6);
  }
  div.winner {
    margin-top: 10px;
  }
  .restart {
    margin-top: 55px;
  }
  .winner.whosMove {
    margin-top: 100px;
  }
}
